model_config_list {
	config {
                name: 'candy'
		base_path: 'gs://imagerie3/trained_models/candy/'
		model_platform: 'tensorflow'
		model_version_policy: {all: {}}
	}
	config {
                name: 'coins'
		base_path: 'gs://imagerie3/trained_models/coins/'
		model_platform: 'tensorflow'
		model_version_policy: {all: {}}
	}
	config {
                name: 'gummies2'
		base_path: 'gs://imagerie3/trained_models/gummies2/'
		model_platform: 'tensorflow'
		model_version_policy: {all: {}}
	}
	config {
                name: 'screws'
		base_path: 'gs://imagerie3/trained_models/screws/'
		model_platform: 'tensorflow'
		model_version_policy: {all: {}}
	}
}